[Unit]
Description=Windows VM via QEMU
After=network.target

[Service]
ExecStart=/opt/winvm/boot.sh
WorkingDirectory=/opt/winvm
User=root
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
TimeoutSec=300

[Install]
WantedBy=multi-user.target
